vaadin-tab {
    font-size: var(--lumo-font-size-s);
    height: var(--lumo-size-l);
    font-weight: 600;
    color: var(--lumo-body-text-color);
}

vaadin-tab:hover {
    background-color: var(--lumo-contrast-5pct);
}

vaadin-tab[selected] {
    background-color: var(--lumo-primary-color-10pct);
    color: var(--lumo-primary-text-color);
}